/*  
* The custom fonts were downloaded from the following sources:

* Odinson Font:
'https://www.fontspace.com/odinson-font-f33641'
* Norse Font:
'https://www.fontspace.com/norse-font-f21080'
* Heorot Font:
'https://www.fontspace.com/heorot-font-f33343'

*/

/* Define custom font classes */

@font-face {
    font-family: "Odinson";
    src: url("../fonts/Odinson-224w.ttf") format("truetype");
}

@font-face {
    font-family: "Norse";
    src: url("../fonts/Norse-KaWl.ttf") format("truetype");
}

@font-face {
    font-family: "Norse Bold";
    src: url("../fonts/NorseBold-2Kge.ttf") format("truetype");
}

@font-face {
    font-family: "Heorot";
    src: url("../fonts/Heorot-4rLK.ttf") format("truetype");
}

.odinson-font {
    font-family: "Odinson", Courier, monospace;

}

.norse-font {
    font-family: "Norse", Courier, monospace;
    letter-spacing: 1px;
}

.norse-font-bold {
    font-family: "Norse Bold", Courier, monospace;
}

.heorot-font {
    font-family: "Heorot", Courier, monospace;
}


/* Center navbar */

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

.brand-logo span {
    vertical-align: middle;
}

.nav-title {
    letter-spacing: 2px;
    font-size: 32px !important;
    color: orange;
}

.nav-title strong {
    font-size: 36px !important;
    color: white;
}

.nav-wrapper a, 
.dropdown-content a {
    font-size: 24px !important;
}

nav ul a:hover,
nav ul a:focus,
nav ul a:active {
    border: none !important;
}

.dropdown-content {
    min-width: 105%;
    width: 105%;
    position: absolute;
    right: 0;
    top: 0;
}

.dropdown-content li {
    display: block !important;
    text-align: center;
}

.dropdown-content a:hover {
    background: none;
}

#dropdown1 {
    left: 38.5%;
}

#dropdown2 {
    left: 48%;
}

.parallax-container {
    height: 85vh;
}

.parallax-container img {
    opacity: 0.9 !important;
}

.section p {
    letter-spacing: 2px;
    font-size: 18px;
}

.home-container {
    position: absolute;
    top: 50vh;
    left: 5vw;
    z-index: 100;
}

.home-container .row {
    margin-bottom: 0;
}

.home-container h1 {
    color: white;
    background: black;
    padding: 5px;
}

.home-container a {
    font-size: 22px;
    letter-spacing: 2px;
}