<!-- Products dropdown -->
<ul id="dropdown1" class="dropdown-content">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Silver Jewelry</h5>
                <li class="divider"></li>
                <li><a href="#!">Rings</a></li>
                <li><a href="#!">Necklaces</a></li>
                <li><a href="#!">Braclets</a></li>
                <li><a href="#!">Earrings</a></li>
                <li><a href="#!">Pendants</a></li>
                <li><a href="#!">Brooches</a></li>
            </div>
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Armory</h5>
                <li class="divider"></li>
                <li><a href="#!">Viking Axes and Polearms</a></li>
                <li><a href="#!">Swords</a></li>
                <li><a href="#!">Maces and Warhammers</a></li>
                <li><a href="#!">Daggers</a></li>
            </div>
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Apparel</h5>
                <li class="divider"></li>
                <li><a href="#!">T-Shirts</a></li>
            </div>
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Accessories</h5>
                <li class="divider"></li>
                <li><a href="#!">Leather</a></li>>
            </div>
            
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Other</h5>
                <li class="divider"></li>
                <li><a href="#!">Historical Board Games</a></li>
            </div>
            <div class="col s4 right">
                <h5 class="black-text norse-font-bold">Feasting</h5>
                <li class="divider"></li>
                <li><a href="#!">Drinking Horns</a></li>
                <li><a href="#!">Mead</a></li>
            </div>
        </div>
    </div>
</ul>
<!-- Special Offers dropdown -->
<ul id="dropdown2" class="dropdown-content">
    <div class="container">
        <div class="row">
            <h5 class="black-text norse-font-bold">Special Offers</h5>
            <div class="divider"></div>
            <div class="col s4">
                <li><a href="#!">New Arrivals</a></li>
            </div>
            <div class="col s4">
                <li><a href="#!">Sale</a></li>
            </div>
            <div class="col s4">
                <li><a href="#!">Clearance</a></li>
            </div>
        </div>
    </div>
</ul>
<!-- Discover dropdown -->
<ul id="dropdown3" class="dropdown-content">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Premium Line</h5>
                <li class="divider"></li>
                <li><a href="#!">Silver Jewelry</a></li>
            </div>
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Popular Products</h5>
                <li class="divider"></li>
                <li><a href="#!">Viking Axes, Hammers and Swords</a></li>
                <li><a href="#!">Pendants</a></li>
                <li><a href="#!">Rings</a></li>
            </div>
            <div class="col s4">
                <h5 class="black-text norse-font-bold">More</h5>
                <li class="divider"></li>
                <li><a href="#!">Norse Mythology</a></li>
                <li><a href="#!">Games</a></li>
            </div>
        </div>
    </div>
</ul>

<!-- Navbar and links -->
<nav class="nav-extended nav-center black">
    <div class="nav-wrapper norse-font">
        <ul class="text-center hide-on-med-and-down">
            <li>
                <a href="#!" data-target="dropdown1" class="dropdown-trigger" id="products-dropdown-trigger">
                    Browse Products
                </a>
            </li>
            <li>
                <a href="#!" data-target="dropdown2" class="dropdown-trigger">
                    Special Offers
                </a>
            </li>
            <li>
                <a href="#!" data-target="dropdown3" class="dropdown-trigger">
                    Discover
                </a>
            </li>
            <li><a href="#!">Contact Us</a></li>
        </ul>
    </div>
    <div class="nav-content center-align">
        <span class="nav-title heorot-font">High quality Norse Pagan jewelry, clothing and more</span>
    </div>
</nav>