<!-- Products dropdown -->
<ul id="dropdown1" class="dropdown-content">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Street Wear</h5>
                <li class="divider"></li>
                <li><a href="#!">All Street Wear</a></li>
                <li><a href="#!">Men's Street Wear</a></li>
                <li><a href="#!">Women's Street Wear</a></li>
                <li><a href="#!">T-Shirts</a></li>
                <li><a href="#!">Tank Tops</a></li>
                <li><a href="#!">Unisex Hoodies</a></li>
                <li><a href="#!">Jackets</a></li>
                <li><a href="#!">Unisex Cloaks</a></li>
                <li><a href="#!">Trousers</a></li>
            </div>
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Jewelry</h5>
                <li class="divider"></li>
                <li><a href="#!">Braclets</a></li>
                <li><a href="#!">Necklaces</a></li>
                <li><a href="#!">Rings</a></li>
                <li><a href="#!">Watches</a></li>
            </div>
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Accessories</h5>
                <li class="divider"></li>
                <li><a href="#!">Beanies and Gloves</a></li>
                <li><a href="#!">Masks and Bandanas</a></li>
                <li><a href="#!">Caps</a></li>
                <li><a href="#!">Phone Cases</a></li>
                <li><a href="#!">Cuff Links</a></li>
            </div>
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Home Decor</h5>
                <li class="divider"></li>
                <li><a href="#!">Blankets</a></li>
                <li><a href="#!">Wall Art</a></li>
            </div>
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Armory</h5>
                <li class="divider"></li>
                <li><a href="#!">Viking Axes</a></li>
                <li><a href="#!">Thor's Hammers</a></li>
            </div>
            <div class="col s4 right">
                <h5 class="black-text norse-font-bold">Feasting</h5>
                <li class="divider"></li>
                <li><a href="#!">Mugs</a></li>
            </div>
        </div>
    </div>
</ul>
<!-- Special Offers dropdown -->
<ul id="dropdown2" class="dropdown-content">
    <div class="container">
        <div class="row">
            <h5 class="black-text norse-font-bold">Special Offers</h5>
            <div class="divider"></div>
            <div class="col s4">
                <li><a href="#!">New Arrivals</a></li>
            </div>
            <div class="col s4">
                <li><a href="#!">Sale</a></li>
            </div>
            <div class="col s4">
                <li><a href="#!">Clearance</a></li>
            </div>
        </div>
    </div>
</ul>
<!-- Discover dropdown -->
<ul id="dropdown3" class="dropdown-content">
    <div class="container">
        <div class="row">
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Premium Line</h5>
                <li class="divider"></li>
                <li><a href="#!">Rings</a></li>
                <li><a href="#!">Necklaces</a></li>
                <li><a href="#!">Cufflinks</a></li>
            </div>
            <div class="col s4">
                <h5 class="black-text norse-font-bold">Popular Products</h5>
                <li class="divider"></li>
                <li><a href="#!">Thor's Hammers</a></li>
                <li><a href="#!">Watches</a></li>
                <li><a href="#!">Rings</a></li>
            </div>
            <div class="col s4">
                <h5 class="black-text norse-font-bold">More</h5>
                <li class="divider"></li>
                <li><a href="#!">Runestones</a></li>
                <li><a href="#!">Games</a></li>
                <li><a href="#!">Books</a></li>
            </div>
        </div>
    </div>
</ul>

<!-- Navbar and links -->
<nav class="nav-extended nav-center black">
    <div class="nav-wrapper norse-font">
        <ul class="text-center hide-on-med-and-down">
            <li>
                <a href="#!" data-target="dropdown1" class="dropdown-trigger" id="products-dropdown-trigger">
                    Browse Products
                </a>
            </li>
            <li>
                <a href="#!" data-target="dropdown2" class="dropdown-trigger">
                    Special Offers
                </a>
            </li>
            <li>
                <a href="#!" data-target="dropdown3" class="dropdown-trigger">
                    Discover
                </a>
            </li>
            <li><a href="#!">Contact Us</a></li>
        </ul>
    </div>
    <div class="nav-content center-align">
        <span class="nav-title heorot-font">High quality Norse Pagan jewelry, clothing and more</span>
    </div>
</nav>