<!-- Dropdowns -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>
<ul id="dropdown3" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>
<!-- Navbar and links -->
<nav class="nav-center">
    <div class="nav-wrapper">
        <ul class="text-center hide-on-med-and-down">
            <li>
                <a href="#!" data-target="dropdown1" class="dropdown-trigger">
                    Browse Products
                </a>
            </li>
            <li>
                <a href="#!" data-target="dropdown2" class="dropdown-trigger">
                    Special Offers
                </a>
            </li>
            <li>
                <a href="#!" data-target="dropdown3" class="dropdown-trigger">
                    Discover
                </a>
            </li>
            <li><a href="#!">Contact Us</a></li>
        </ul>
    </div>
</nav>