{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s6 m4 offset-m4">
                <h1 class="norse-font-bold center-align">Products</h1>
                <div class="divider"></div>
            </div>
        </div>
    </div>

    <section class="my-5" id="Products">
        <div class="container">
            <div class="row">
                <div class="col">
                    
                </div>
            </div>
        </div>
        <p>Products to go here</p>
    </section>
{% endblock %}